[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

flask = "*"
gunicorn = "*"
django-htmlmin = "*"
beautifulsoup4 = "*"
requests = "*"

[requires]

python_version = "3.6"