.content-preview {
    width: 100%; 
    height: auto; 
    margin:0 auto;
}

.tip {
    text-align: left;
    font-style: italic;
}

.cr-pointer {
    cursor: pointer;
}

.cr-notallowed {
    cursor: not-allowed;
}